{% extends "base.html" %}
{% load static %}
{% block content %}

<main>
 
  <form method="POST">
    {% csrf_token %}
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}
<form method="POST">
    <div class="form-group">
        <h2 style="text-align: center;">Cadastro de Novos Funcionários</h2>
        <label for="name">Nome</label>
        <input type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp">
        <label for="username">Usuário</label>
        <input type="text" name="username" class="form-control" id="username" aria-describedby="nameHelp">
        {% if user_exists %}
        <small id="usernameHelp" class="form-text text-muted">Esse usuário deve ser único</small>
{% endif %}
    </div>
    <div class="form-group">
        <label for="role">Função</label>
        <input type="text" name="role" class="form-control" id="role">
    </div>
    <div class="form-group">
        <label for="salary">Salário</label>
        <input type="number" name="salary" class="form-control" id="salary">
    </div>
    <div class="form-check">
      <div class="form-group">
		<label for="cars">Setor</label>
<select id="work_section" name="work_section">
  <option value="Vendas">Vendas</option>
  <option value="Comercial">Comercial </option>
  <option value="Tech">Tech</option>
  <option value="RH">RH</option>
</select>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
</main>

{% endblock %}