{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>HR Management</title>
</head>

<body>
  <main>
    <div class="section">
      <h2>O que é?</h2>
      <p>Um sistema de gerenciamento de recursos humanos digital projetado para ajudar as empresas a gerenciar suas operações de RH de maneira mais eficiente.</p>
    </div>
    <div class="section">
      <h2>O que faz?</h2>
      <ul>
        <li>Para o colaborador: solicitação de férias e registro de horas trabalhadas.</li>
        <li>Para o administrador: aceite ou recusa de férias, cadastro de novos funcionários e gerenciamento dos mesmos.</li>
      </ul>
    </div>
    <div class="section">
      <h2>Recursos</h2>
      <ul>
        <li>Sistema de controle de horas trabalhadas com relatórios detalhados.</li>
        <li>Agendamento de férias e controle de licenças médicas.</li>
        <li>Cadastro e gerenciamento de novos funcionários.</li>
      </ul>
    </div>
    <div class="section">
      <h2>Benefícios</h2>
      <ul>
        <li>Maior eficiência no gerenciamento de recursos humanos.</li>
        <li>Melhoria na comunicação entre colaboradores e administradores.</li>
        <li>Maior controle sobre horas trabalhadas e férias agendadas.</li>
      </ul>
    </div>
  </main>
</body>

</html>




{% endblock %}