{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<main>
    <div class="section">
        <h2>Sobre o projeto</h2>
        <p>O projeto em questão é um software de gestão de recursos humanos que visa simplificar o gerenciamento de
            informações sobre funcionários, horas trabalhadas, férias e folha de pagamento.
        <p>O software deve permitir o
            cadastro de informações básicas dos funcionários, como nome, cargo e salário, assim como o registro de horas
            trabalhadas em um sistema de ponto eletrônico. Além disso, o software deve permitir o gerenciamento de
            solicitações de férias dos funcionários.</p><br>
        <p>Com esses requisitos, o software pode ajudar a empresa a gerenciar
            de forma mais eficiente as informações relacionadas aos funcionários e a manter o controle das atividades de
            RH de maneira mais automatizada e organizada.</p><br>
        <p>Para realizar esse projeto foi utilizado o repositório online do GitHub, o Trello para o board das
            atividades e o draw.io para a criação dos diagramas de caso de uso.

        </p>
    </div>

    {% endblock %}