{% extends "base.html" %}
{% load static %}
{% block content %}

<main>
  
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <h2 style="text-align: center;">Entrar</h2>
        <label for="username">Usuário</label>
        <input type="text" name="username" class="form-control" id="username">
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" name="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    {% if error %}
    <p class="error-message" style="text-align: center; color: red; font-weight: bold;">{{ error }}</p>
{% endif %}
    <p style="text-align: center;"><a href="{% url 'reset_password' %}">Esqueceu sua senha?</a></p>
</form>



{% endblock %}